@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    --background-color: #FEF8F5;
    --button-color: #a1cbb7;
    --button-active-color: #87b59f;
    --text-color: #323232;
    --title-color: #F1513B;
    --secondary-color: #FCC5BE;
    --text-active-color: #a92c1b;
    --text-hover-color: #ee6755;
    --description-gradient: linear-gradient(to bottom, #1a2c07, #7f8d51);
    --border-radius: 20px;
}

/* FCC5BE */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption,
blockquote {
    text-wrap: pretty;
    overflow-wrap: break-word;
    hyphens: auto;
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
    text-decoration: none;
}

body {
    font-family: 'Kode Mono', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background: var(--background-color);
    min-height: 100vh;
}

/* button {
    background-color: var(--button-color);
    color: var(--title-color);
    font-weight: 300;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.7rem;
    cursor: pointer;
}

button:active {
    background-color: var(--button-active-color);
    color: var(--text-active-color);
    transition: color 0.3s ease;
} */

body a {
    color: var(--title-color);
    font-weight: 600;
}

body a:hover {
    color: var(--text-hover-color);
    transition: color 0.3s ease;
}

body a:active {
    color: var(--text-active-color);
    transition: color 0.3s ease;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.navbar .logo img {
    width: 5%;
    height: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}

.nav-links nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
    font-weight: 500;
}

.nav-links nav ul li a {
    display: flex;
    text-decoration: none;
    color: var(--title-color);
}

.nav-links nav ul li a:hover {
    color: var(--text-hover-color);
    transition: color 0.3s ease;
}

.nav-links nav ul li a:active {
    color: var(--text-active-color);
    transition: color 0.3s ease;
}

footer {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    color: var(--text-color);

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* INTRO SECTION */
.intro {
    text-align: center;
    margin: 2rem;
}

.intro h1 {
    font-size: 2rem;
    color: var(--title-color);
}

.intro h2 {
    font-size: 1.8rem;
    font-style: italic;
    margin: 4rem 5rem 1rem 5rem;
    color: var(--title-color);
}

.intro p {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 10rem;
}



.prototype-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.thumbnail {
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    position: relative;
    width: 30%;
    max-width: 300px;
    height: auto;
    cursor: pointer;
}

.thumbnail:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);

    transition: transform 0.35s ease;
}

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 64px;
    color: var(--background-color);
    cursor: pointer;
}